@font-face {
  font-family: 'Metrophobic';
  font-style: normal;
  font-weight: 400;
  src: local('Metrophobic'), url(./fonts2.ttf) format('truetype');
}
/*https://fonts.googleapis.com/css?family=Metrophobic*/
/*https://fonts.gstatic.com/s/metrophobic/v6/0IZPA9DbzKXnGZABsAivT50EAVxt0G0biEntp43Qt6E.ttf*/
