@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: local('Rokkitt'), url(fonts1.ttf) format('truetype');
}
/*https://fonts.googleapis.com/css?family=Rokkitt*/
/*https://fonts.gstatic.com/s/rokkitt/v8/sr63xTucDSbOV6kDLSAZiA.ttf*/
